In [2]:
#use "DDA.ml"

val take : int -> 'a Seq.t -> 'a Seq.t = <fun>
val calculate : int * int -> int * int -> (int * int) Seq.t = <fun>

In [3]:
#use "DDA.ml"

val take : int -> 'a Seq.t -> 'a Seq.t = <fun>
val calculate : int * int -> int * int -> (int * int) Seq.t = <fun>

In [4]:
calculate (2, 2) (6, 6) |> List.of_seq

- : (int * int) list = [(2, 2); (3, 3); (4, 4); (5, 5); (6, 6)]

In [5]:
#use "DDA.ml"

val take : int -> 'a Seq.t -> 'a Seq.t = <fun>
val calculate : int * int -> int * int -> (int * int) Seq.t = <fun>

In [6]:
calculate (2, 2) (6, 6) |> List.of_seq

- : (int * int) list = [(2, 2); (3, 3); (4, 4); (5, 5); (6, 6)]

In [7]:
calculate (10, 15) (15, 30) |> List.of_seq

- : (int * int) list =
[(10, 15); (10, 16); (11, 17); (11, 18); (11, 19); (12, 20); (12, 21);
 (12, 22); (13, 23); (13, 24); (13, 25); (14, 26); (14, 27); (14, 28);
 (15, 29); (15, 30)]

In [8]:
calculate (2, 5) (2, 12) |> List.of_seq

- : (int * int) list =
[(2, 5); (2, 6); (2, 7); (2, 8); (2, 9); (2, 10); (2, 11); (2, 12)]